YK_POSTGRES_DB=suoyunculari_yk
YK_POSTGRES_USER=suo_yk
YK_POSTGRES_PASSWORD=suo_yk_password
YK_DATABASE_URL=postgres://suo_yk:suo_yk_password@localhost:5432/suoyunculari_yk
YK_SESSION_SECRET=
YK_ADMIN_EMAIL=ege.ertan@sabanciuniv.edu
YK_ADMIN_INITIAL_PASSWORD=
HOST=0.0.0.0
PORT=4321
